
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');





.nav{
    display: flex;
    width: 100vw;
    justify-content:space-between;
    margin-top: 11px;

}
.navitem{
   background-color:transparent;
   list-style: none; 
   
}
.navitem-1>ul>a{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  margin-right: 45px;
  text-align: center;
}
.navitem>h4{
    color: whitesmoke;
    font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  padding-left: 21px;
  text-align: center;

}
.navitem-1{
margin-right: 18px;
}
.navitem-1>ul>a:hover{
    border-bottom: 2px solid rgb(245, 190, 90);
    color: #f4d76f;
}
/* BODY CONTENt */

.content>h4{
  text-align: center;
  
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.content>p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  opacity: 0.7;
}
.NAME{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  opacity: 0.7;
  padding-right: 3px;
}

.hire{
  display: flex;
 justify-content: center;
}

.me>button{
  text-align: center;
  background-color:#ffbd39;
  border-radius: 5px;
   
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}