
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');






.nav{
    display: flex;
    width: 100vw;
    justify-content:space-between;
    margin-top: 11px;

}
.navitem{
   background-color:transparent;
   list-style: none; 
   
}
.navitem-1>ul>a{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: whitesmoke;
    font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  margin-right: 45px;
  text-align: center;
}
.navitem>h4{
    color: whitesmoke;
    font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding-left: 21px;
  text-align: center;

}
.navitem-1{
margin-right: 18px;
}
.navitem-1>ul>a:hover{
    border-bottom: 2px solid wheat;
}
/* BODY CONTENt */

.content>h4{
  text-align: center;
  
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.NAME{
  font-family: "Lexend Mega", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.content{
  margin-top: 25%;
}