@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 11px;
}
.navitem {
  background-color: transparent;
  list-style: none;
}
.navitem-1 > ul > a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 5px;
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  margin-right: 45px;
  text-align: center;
}
.navitem > h4 {
  color: whitesmoke;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding-left: 21px;
  text-align: center;
}
.navitem-1 {
  margin-right: 18px;
}
.navitem-1 > ul > a:hover {
  border-bottom: 2px solid rgb(245, 190, 90);
  color: #f4d76f;
}
/* BODY CONTENT */
@keyframes fade-in-bottom-normal {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#Home {
  animation: fade-in-bottom-normal 0.5s ease-in 0s 1 normal;
}
@keyframes fade-in-bottom-normal {
  0% {
    transform: translateY(50px);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.content > h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 5px;
}

.content > p {
  font-family: "Montserrat", sans-serif;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  opacity: 0.7;
}
.NAME {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  opacity: 0.7;
  padding-right: 3px;
}

.hire {
  display: flex;
  justify-content: center;
}

.me > button {
  text-align: center;
  background-color:transparent;
  border-radius: 5px;
color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  border: 2px solid #ffffff;
  font-weight: 600;
  font-style: normal;
}
.me > button:hover {
  background-color: rgb(254, 254, 254);
  color: black;
  transform:scale(1.05);
  transition: ease-in-out;
}
/* TABLE STYLING  */

td {
  padding-left: 19px;
  padding-bottom: 15px;
  font-size: 13px;
  color: #ffffff;
  opacity: 0.9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}
#about > h5 {
  color: #ffbd39;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1px;
}
#about {
background: rgba(60, 60, 60, 0.2);
border-radius: 56px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(237, 235, 235, 0.3);
  border-radius: 12px;
  padding-bottom: 45px;
  animation: fade-in-bottom-normal 0.5s ease-out 0s 1 normal;
}
